<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOffline.csdl|res://*/ModelOffline.ssdl|res://*/ModelOffline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=testservervpd;initial catalog=techflow;user id=sa;password=newtech@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOnline.csdl|res://*/ModelOnline.ssdl|res://*/ModelOnline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mydbinstance.c0cgp66jg3yv.ap-southeast-2.rds.amazonaws.com;initial catalog=techflow_online;user id=techflowdbun;password=TFpassw0rd16;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOnline.csdl|res://*/ModelOnline.ssdl|res://*/ModelOnline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=208.91.198.59;initial catalog=techflow;user id=techflow;password=Newtech@009;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOffline.csdl|res://*/ModelOffline.ssdl|res://*/ModelOffline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTSERVERVPD;initial catalog=Ticketing;user id=sa;password=newtech@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOffline.csdl|res://*/ModelOffline.ssdl|res://*/ModelOffline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTSERVERVPD;initial catalog=Ticketing;user id=sa;password=newtech@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOffline.csdl|res://*/ModelOffline.ssdl|res://*/ModelOffline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=208.91.198.59;initial catalog=ticket;user id=ticket;password=Newtech@009;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOffline.csdl|res://*/ModelOffline.ssdl|res://*/ModelOffline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTSERVERVPD;initial catalog=ticketing;user id=sa;password=newtech@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  <!--<add name="techflowEntities" connectionString="metadata=res://*/ModelOffline.csdl|res://*/ModelOffline.ssdl|res://*/ModelOffline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=testservervpd;initial catalog=VPD_Ticketing;user id=sa;password=newtech@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="techflowEntities" connectionString="metadata=res://*/ModelOffline.csdl|res://*/ModelOffline.ssdl|res://*/ModelOffline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=208.91.198.59;initial catalog=VPD_Ticketing;user id=VPDTICKET;password=Newtech@009;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>